<header>
    <nav class="custom-navbar">
      <div class="nav-item"><a href="">Home</a></div>

      <div class="nav-item dropdown">
        Services
        <div class="dropdown-menu">
          <a href="#">Web Design</a>
          <a href="#">SEO</a>
        </div>
      </div>

      <div class="nav-item"><a href="">About</a></div>

      <div class="nav-item dropdown">
        Products
        <div class="dropdown-menu">
          <a href="#">Product A</a>
          <a href="#">Product B</a>
        </div>
      </div>

      <div class="nav-item"><a href="">Contact</a></div>
      <div class="nav-item"><a href="">Join Us</a></div>
    </nav>
  </header>

  <section>
    <div class="container">
      <div class="box box1">
        <img src="/images/mbappe2.png" alt="Photo 1" />
        <img src="/images/mbappe1.png" alt="Photo 1" class="img1" />
      </div>

      <div class="blend"></div>

      <div class="box box2">
        <img src="/images/haaland2.png" alt="Photo 3" />
        <img src="/images/haaland1.png" alt="Photo 3" class="img2" />
      </div>

      <div class="box box3">
        <img src="/images/vini2.png" alt="Photo 2" />
        <img src="/images/vini1.png" alt="Photo 2" class="img3" />
      </div>
    </div>

    <div class="line"></div>