<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous"
  />
  <link rel="stylesheet" href="/stylesheets/index.css" />

  <title>MHV</title>
</head>

<body>
  <header>
    <nav class="custom-navbar">
      <div class="nav-item">Home</div>

      <div class="nav-item dropdown">
        Services
        <div class="dropdown-menu">
          <a href="#">Web Design</a>
          <a href="#">SEO</a>
        </div>
      </div>

      <div class="nav-item">About</div>

      <div class="nav-item dropdown">
        Products
        <div class="dropdown-menu">
          <a href="#">Product A</a>
          <a href="#">Product B</a>
        </div>
      </div>

      <div class="nav-item">Contact</div>
      <div class="nav-item">Join Us</div>
    </nav>
  </header>

  <div class="container">
    <div class="box box1">
      <img src="/images/mbappe2.png" alt="Photo 1" />
      <img src="/images/mbappe1.png" alt="Photo 1" class="img1" />
    </div>

    <div class="box box2">
      <img src="/images/haaland2.png" alt="Photo 3" />
      <img src="/images/haaland1.png" alt="Photo 3" class="img2" />
    </div>

    <div class="box box3">
      <img src="/images/vini2.png" alt="Photo 2" />
      <img src="/images/vini1.png" alt="Photo 2" class="img3" />
    </div>
  </div>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
  ></script>
</body>

</html>
