/* Responsive tweaks for mobile */
@media (max-width: 600px) {
  #fbv-inaccurate-modal .fbv-modal-content {
    width: 95%;
    padding: 16px;
    font-size: 14px;
  }

  #fbv-inaccurate-modal .fbv-modal-title {
    font-size: 1.2rem;
  }

  #fbv-inaccurate-form input,
  #fbv-inaccurate-form textarea {
    padding: 8px;
    font-size: 14px;
    margin: 8px 0 16px;
  }

  #fbv-inaccurate-form button {
    font-size: 14px;
    padding: 10px 16px;
  }

  #alertPopup div {
    max-width: 80%;
    padding: 1rem 1.5rem;
    margin: 0 10px;
  }

  #alertPopup h2 {
    font-size: 1.4rem;
  }

  #alertPopup p {
    font-size: 0.7rem;
  }

  #alertPopup button {
    font-size: 0.9rem;
    padding: 0.5rem 1.2rem;
    margin-top: 10px !important;
  }
}



/* Mobile short (max-width: 480px) */
@media (max-width: 376px) {
  .dropdown-menu {

    left: -20px;
    /* Move 20px to the left */

  }

  .custom-navbar {
    padding: 0 10px;
    font-family: sans-serif;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    white-space: nowrap;
    overflow: visible;
    
  }


  /* Nav items */
  .nav-item {
    position: relative;
    padding: 10px 10px;
    cursor: pointer;
    font-size: 10px;
    font-weight: 300;
    flex: 0 0 auto;
    white-space: nowrap;
  }

  .nav-item:not(:last-child) {
    margin-right: 10px;
  }

  /* Dropdown styles */

  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: -90%;
    padding: 10px;
    z-index: 1000;
    min-width: 20px;
    max-width: auto;
  }

  .follow-dropdown {

    position: absolute;
    top: 100%;
    left: -50%;
    border-radius: 8px;
    min-width: 3px;
    z-index: 1000;
    padding: 0 auto 0 auto;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }

  /* Optional for dropdown content */
  .dropdown-section {
    margin-bottom: 10px;
  }

  .dropdown-heading {
    margin: 0 0 5px 0;
    font-size: 12px;
  }

  .link-row a,
  .link-grid a {
    display: inline-block;
    color: white;
    padding: 4px 6px;
    font-size: 11px;
    text-decoration: none;
  }

  .link-grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 4px;
  }

  .hide-on-mobile {
    display: none !important;
  }

  .tab-container {
    display: flex;
    justify-content: center;
    gap: 4%;

    padding: 12px auto;
    border-radius: 16px;

    margin-bottom: 0.5rem;
    flex-wrap: wrap;
    margin-top: 4%;
    margin: 30;
  }

  .tab {
    padding: 8px 13px;
    cursor: pointer;
    font-size: 10px;
    font-weight: 500;


    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
    border-radius: 8px;
  }

  .container {
    height: 159px;
    padding: 0% 1rem !important;
    max-width: 100%;
    padding: 0 0rem !important;
    margin: 36px auto 0 auto;
    border-top: white;
  }



  .box {
    padding: 0 5px;
  }

  .box1 img:first-child {
    right: 10%;
    width: 102%;
    height: 102%;
  }

  .box2 img:first-child {
    right: -8%;
    font-family: 'Overpass', sans-serif;
    width: 100%;
    height: 100%;
  }

  .box3 img:first-child {
    right: 32%;
    width: 100%;
    height: 100%;
  }

  /* .img1 {
    right: -2%;
    width: 140% !important;
  } */
  .img1 {
    left: -109%;
    width: 124% !important;
  }

  .img2 {
    left: -119%;
    width: 124% !important;
  }

  .img3 {
    left: -17%;
    width: 110% !important;
  }

  .table-container {
    max-width: 800px;
    margin: 1.5rem 10px;

    padding: 10px 0%;
    border-radius: 12px;

  }

  table {
    margin: auto;
    width: 85%;
    height: 70%;
    border-spacing: 4px;
    border-collapse: separate;
    table-layout: fixed;
    margin-top: 9px;

  }

  td {
    position: relative;
    width: 10%;
    height: 3.6rem;
    border-radius: 8px;
    text-align: center;
    vertical-align: middle;
    padding: 0px;
    font-size: 26px;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    line-height: 2.2;
    padding: 2px 2px;

  }

  th {
    font-size: 12px;
  }

  td span:nth-child(2) {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(209, 208, 213);
    font-size: 8px;
    font-family: sans-serif;
    font-weight: 500;
    white-space: normal;
    /* allows wrapping */
    text-align: center;
    /* centers text on each line */
    width: 100%;
    /* ensures wrapping respects cell width */
    line-height: 0.9;
    padding: 0 2px;
    /* optional: padding to avoid touching edges */
  }

  .stat-title {
    font-size: 17px;
    margin-bottom: 6px;
    margin-top: 6px;
  }

  .stat-titleabove {
    font-size: 20px;
    font-weight: 800;
  }

  .looking-box {
    width: 90%;
    height: 150px;
    margin: 40px auto;
    text-align: center;
    border-radius: 12px;
    border: 1px solid rgb(95, 90, 90);
  }

  .text-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
    margin-top: 10px;
    justify-items: center;
  }

  .lookingbox-title {
    font-size: 13px;
    margin-top: 10px;
    font-family: 'Exo 2', sans-serif;
    margin-bottom: 0px;
  }

  .text-item {
    padding: 3px;
    cursor: pointer;
    font-size: 9px;
    transition: color 0.3s ease, text-decoration 0.3s ease;
    font-weight: 501;
  }

  .text-item:hover {
    color: #007bff;
    text-decoration: blue;
  }

  footer {
    font-size: 13px;
    padding: 15px 5px;
  }

  .social-icons a {
    font-size: 18px;
  }

  .footer3-card {

    border-radius: 15px;

    padding: 15px 25px;

    margin: 2px auto 10px auto;

    max-width: 21rem;



  }

  .footer3-card span {
    font-size: 13px;
    color: #1e88e5;
    font-weight: 600;
  }

  .table-container-st {
    margin-bottom: 0.5rem;
  }

  .footer-bottom-section p {
    margin: 0px 0;
    font-size: 12px;

  }



  /* admin */

   .modal-content {
    padding: 15px 20px;
  }

  .form-group label {
    font-size: 16px;
  }

  .form-group input {
    font-size: 14px;
  }

  .submit-btn {
    font-size: 14px;
    padding: 8px 0;
  }

  .close-btn {
    font-size: 20px;
    padding: 8px 14px;
  }

  .donation-container {
    margin: 5px;
    padding: 30px;
  }

  .footer2-card {
    padding: 15px 20px;
    margin: 10px auto;
    max-width: 280px;
  }

  .donation-container {
    padding: 20px;
    max-width: 300px;
    max-height: 400px;
    margin-bottom: 2px;
    /* Reduce space below donation box */
  }

  .donation-container h1 {
    margin-bottom: 15px;
  }

  .donation-container p {
    line-height: 1.5;
    font-size: 14px;
  }

  .donate-button {
    padding: 15px 30px;
    font-size: 16px;
    margin-top: 5px;

  }
}

@media (min-width: 377px) and (max-width: 500px) {

 .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: -40%;
    padding: 10px;
    z-index: 1000;
    min-width: 20px;
    max-width: auto;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }

  /* Optional for dropdown content */
  .dropdown-section {
    margin-bottom: 10px;
  }

  .dropdown-heading {
    margin: 0 0 5px 0;
    font-size: 12px;
  }

   /* Nav items */
  .nav-item {
    
    padding: 10px 10px;
  
    font-size: 14px;
    font-weight: 300;
  
    white-space: nowrap;
  }

  .nav-item:not(:last-child) {
    margin-right: 10px;
  }

   .link-row a,
  .link-grid a {
    padding: 4px 6px;
    font-size: 11px;
    text-decoration: none;
  }

  .link-grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 4px;
  }

  .hide-on-mobile {
    display: none !important;
  }


  .tab-container {
    display: flex;
    justify-content: center;
    gap: 4%;

    padding: 12px auto;
    border-radius: 16px;

    margin-bottom: 0.5rem;
    flex-wrap: wrap;
    margin-top: 4%;
    margin: 30;
  }

  .tab {
    padding: 8px 13px;
    cursor: pointer;
    font-size: 10px;
    font-weight: 500;

    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
    border-radius: 8px;
  }

  .container {
    height: 165px;
    padding: 0% 1rem !important;
    max-width: 90%;
    padding: 0 1rem !important;
  }

  .box {
    padding: 0 5px;
  }

  .box1 img:first-child {
    right: 10%;
    width: 102%;
    height: 102%;
  }

  .box2 img:first-child {
    right: -8%;
    width: 100%;
    height: 100%;
  }

  .box3 img:first-child {
    right: 32%;
    width: 99%;
    height: 100%;
  }

  .img1 {
    left: -100%;
    width: 110% !important;
  }

  .img2 {
    left: -113%;
    width: 114% !important;
  }

  .img3 {
    left: -5%;
    width: 100% !important;
  }

  .table-container {
    max-width: 23rem;
    margin: 1.5rem auto 1rem auto;

    padding: 10px 0%;
    border-radius: 12px;

    border: 1px solid rgb(95, 90, 90);
  }

  table {
    margin: auto;
    width: 85%;
    height: 70%;
    border-spacing: 4px;
    border-collapse: separate;
    table-layout: fixed;
  }

  td {
    position: relative;
    width: 10%;
    height: 3.6rem;
    border-radius: 8px;
    text-align: center;
    vertical-align: middle;
    padding: 0px;
    font-size: 29px;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
    padding: 2px 2px;
  }

  td span:nth-child(2) {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(209, 208, 213);
    font-size: 8px;
    font-family: sans-serif;
    font-weight: 500;
    white-space: normal;
    /* allows wrapping */
    text-align: center;
    /* centers text on each line */
    width: 100%;
    /* ensures wrapping respects cell width */
    line-height: 1;
    padding: 0 2px;
    /* optional: padding to avoid touching edges */
  }

  .stat-title {
    font-size: 17px;
    margin-bottom: 6px;
  }

  .stat-titleabove {
    font-size: 27px;
  }


  .looking-box {
    width: 90%;
    height: 150px;
    margin: 40px auto;
    text-align: center;
    border-radius: 12px;

  }

  .text-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
    margin-top: 10px;
    justify-items: center;
    
  }

  .lookingbox-title {
    font-size: 10px;
    height: auto;
    margin-top: 10px;
    font-family: 'Exo 2', sans-serif;
    margin-bottom: 0px;
  }

  .text-item {
    padding: 3px;
    cursor: pointer;
    font-size: 8px;
    transition: color 0.3s ease, text-decoration 0.3s ease;
  
  }

  .text-item:hover {
    color: #007bff;
    text-decoration: blue;
  }

  footer {
    font-size: 13px;
    padding: 15px 5px;
  }

  .social-icons a {
    font-size: 18px;
  }

  .donation-container {
    margin: 5px;
    padding: 30px;
  }

  .donation-container {
    margin: 5px;
    padding: 30px;
  }

  .footer2-card {
    padding: 15px 20px;
    margin: 10px auto;
    max-width: 280px;
  }

  .donation-container {
    padding: 20px;
    max-width: 300px;
    max-height: 400px;
    margin-bottom: 2px;
    /* Reduce space below donation box */
  }

  .donation-container h1 {
    margin-bottom: 15px;
  }

  .donation-container p {
    line-height: 1.5;
    font-size: 14px;
  }

  .donate-button {
    padding: 15px 30px;
    font-size: 16px;
    margin-top: 5px;

  }

  .footer3-card {
    padding: 20px 25px;
    margin: 2px auto;
    max-width: 23rem;
  }

  .footer3-card span {
    font-size: 13px;
    color: #1e88e5;
    font-weight: 600;
  }

  .table-container-st {
    margin-bottom: 0.5rem;
  }

  .mvhv-title {
    font-size: 0.5rem;
  }

  .mvhv-subtitle {
    font-size: 1.3rem;
    padding-left: 8px;
  }

  .mvhv-text {
    font-size: 0.95rem;
    line-height: 1.6;
  }

  .mvhv-highlight {
    font-size: 1rem;
  }

  .mvhv-donate-button {
    font-size: 0.9rem;
    padding: 10px 20px;
  }

  .mvhv-modal-content {
    padding: 20px;
  }

  .mvhv-popup-success {
    font-size: 0.9rem;
    padding: 15px 20px;
  }

  .mvhv-social-icons a {
    font-size: 26px;
  }

  /* admin */

  .modal-content {
    width: 95%;
    padding: 10px;
  }

  .submit-btn {
    font-size: 14px;
    padding: 8px 0;
  }

  .form-group input {
    padding: 6px;
  }

}

/* tab-phone (600px to 768px) */
@media (min-width: 501px) and (max-width: 768px) {


 .dropdown-menu {
    top: 100%;
    left: -60%;
    padding: 10px;
    z-index: 1000;
    min-width: 20px;
    max-width: auto;
  }
     .link-row a,
  .link-grid a {
    padding: 4px 6px;
    font-size: 13px;
    text-decoration: none;
  }

  .link-grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 4px;
  }

  .hide-on-mobile2 {
    display: none !important;
  }

  .custom-navbar {

    padding: 0 10px;
    font-family: sans-serif;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    white-space: nowrap;
    overflow: visible;
  }


  /* Nav items */
  .nav-item {
    position: relative;
    padding: 7px 10px;
    cursor: pointer;
    font-size: 14px;
    flex: 0 0 auto;
    white-space: nowrap;
  }

  .container {
    height: 255px;
    padding: 0% 4rem !important;
    max-width: 95%;
    margin: 34px auto;
  }

  .box {
    padding: 0 7px;
  }

  .box1 img:first-child {
    right: 12%;
    width: 102%;
    height: 102%;
  }

  .box2 img:first-child {
    right: -6%;
    width: 101%;
    height: 101%;
  }

  .box3 img:first-child {
    right: 28%;
    width: 101%;
    height: 101%;
  }

  .img1 {
    right: -130% !important;
    width: 130% !important;
  }

  .img2 {
    left: -130%;
    width: 135% !important;
  }

  .img3 {
    left: -4%;
    width: 115% !important;
  }

  .table-container {
    max-width: 28rem;
    margin: 1.5rem auto 40px auto;
    padding: 20px 1.5rem;
    border-radius: 12px;

    border: 1px solid rgb(95, 90, 90);
  }

   .looking-box {
    width: 90%;
     height: auto;
    margin: 40px auto;
    text-align: center;
    border-radius: 12px;

  }

  .text-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
    margin-top: 10px;
    justify-items: center;
    
  }

  .lookingbox-title {
    font-size: 14px;
    margin-top: 10px;
    font-family: 'Exo 2', sans-serif;
    margin-bottom: 0px;
  }

  .text-item {
    padding: 3px;
    cursor: pointer;
    font-size: 10px;
    transition: color 0.3s ease, text-decoration 0.3s ease;
  
  }

  table {
    margin: auto;
    width: 80%;
    height: 60%;
    border-spacing: 4px;
    border-collapse: separate;
    table-layout: fixed;
  }

  td {
    position: relative;
    width: 10%;
    height: 3.7rem;
    border-radius: 8px;
    text-align: center;
    vertical-align: middle;
    padding: 0px;
    font-size: 30px;

    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    line-height: 1;

  }

  td span:nth-child(2) {
    color: rgb(209, 208, 213);
    font-size: 8px;
    vertical-align: bottom;
    transform: translateX(-50%);
    position: absolute;
    font-family: sans-serif;
    font-weight: 300;
    line-height: 5;
    white-space: normal;
    /* allows wrapping */
    text-align: center;
    /* centers text on each line */
    width: 100%;
    /* ensures wrapping respects cell width */
    line-height: 0.8;
    padding: 0 2px;

  }

  .modal-content {
    width: 90%;
  }

  .footer3-card {
    padding: 20px 25px;
    margin: 2px auto;
    max-width: 28rem;
  }

  .table-container-st {
    margin-bottom: 0.5rem;
  }

  .stat-titleabove {
    font-size: 35px;
  }

  .stat-title {
    font-size: 23px;
    margin-bottom: 6px;
  }

}

/* Tablet-lap (768px to 1000px) */
@media (min-width: 768px) and (max-width: 1000px) {
   .dropdown-menu {
   
    left: -70%;
  }
  
  .container {
    height: 250px;
    max-width: 95%;
  }

  .box {
    padding: 0 10px;
  }

  .box1 img:first-child {
    right: 12%;
    width: 102%;
    height: 102%;
  }

  .box2 img:first-child {
    right: -6%;
    width: 101%;
    height: 101%;
  }

  .box3 img:first-child {
    right: 28%;
    width: 101%;
    height: 101%;
  }

  .img1 {
    right: -100%;
    width: 110% !important;
  }

  .img2 {
    left: -106%;
    width: 110% !important;
  }

  .img3 {
    left: -4%;
    width: 105% !important;
  }

  .modal-content {
    width: 80%;
  }
   .looking-box {
    
    height: auto;
    
  }




}


@media screen and (max-width: 768px) {
  .vote-heading {
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
  }

  .vote-cards {
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 1rem;
    justify-content: flex-start;
    padding: 0 1rem;
  }

  .vote-card {
    flex: 0 0 auto;
    width: 180px;
    padding: 1rem;
    border-radius: 1rem;
  }

  .player-name {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    padding: 0.3rem;
  }

  .vote-btn {
    font-size: 0.85rem;
    padding: 0.5rem 0.8rem;
  }

  .vote-card p {
    font-size: 0.85rem;
  }

  .total-votes {
    font-size: 0.9rem;
    margin-top: 1.5rem;
  }

  .vote-cards::-webkit-scrollbar {
    display: none;
  }

  .vote-cards {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

}