/* Responsive tweaks for mobile */
@media (max-width: 600px) {
  #fbv-inaccurate-modal .fbv-modal-content {
    width: 95%;
    padding: 16px;
    font-size: 14px;
  }

  #fbv-inaccurate-modal .fbv-modal-title {
    font-size: 1.2rem;
  }

  #fbv-inaccurate-form input,
  #fbv-inaccurate-form textarea {
    padding: 8px;
    font-size: 14px;
    margin: 8px 0 16px;
  }

  #fbv-inaccurate-form button {
    font-size: 14px;
    padding: 10px 16px;
  }

  #alertPopup div {
    max-width: 80%;
    padding: 1rem 1.5rem;
    margin: 0 10px;
  }

  #alertPopup h2 {
    font-size: 1.4rem;
  }

  #alertPopup p {
    font-size: 0.7rem;
  }

  #alertPopup button {
    font-size: 0.9rem;
    padding: 0.5rem 1.2rem;
    margin-top: 10px !important;
  }

  .footer-top {
    grid-template-columns: 1fr;
    text-align: left !important;
  }

  .footer-about h2 {
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .footer-about p {
    max-width: 400px;
    margin: 0 auto;
    font-size: 12px;
  }

  .footer-links h3,
  .footer-contact h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .footer-links a {
    font-size: 13px;
  }

  .footer-links li {
    margin-bottom: 3px;
  }

  .footer-contact p {
    margin: 8px 0;
    font-size: 12px;
  }

  .footer-bottom p {
    font-size: 11px;
    margin-top: -10px !important;
  }

}

@media (max-width: 384px) {
  .dropup-menu {
    width: 230px !important;

  }

}

/* Mobile short (max-width: 480px) */
@media (max-width: 384px) {
  .looking-box {
    width: 90%;
    height: 171px !important;
    margin: 20px auto;
    text-align: center;
    border-radius: 12px;
    border: 1px solid rgb(95, 90, 90);
  }

  .text-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px !important;
    margin-top: 10px;
    justify-items: center;

  }

  .lookingbox-title {
    font-size: 13px;
    margin-top: 0px;
    font-family: 'Exo 2', sans-serif;
    margin-bottom: 0px;
  }

  .text-item {
    padding: 3px;
    cursor: pointer;
    font-size: 9.5px !important;
    transition: color 0.3s ease, text-decoration 0.3s ease;
    font-weight: 501;
  }

}

@media (min-width: 366px) and (max-width: 385px) {
  .looking-box {
    width: 90%;
    height: 173px !important;
    margin: 20px auto;
    text-align: center;
    border-radius: 12px;
    border: 1px solid rgb(95, 90, 90);
  }

  .text-item {
    padding: 3px;
    cursor: pointer;
    font-size: 10px !important;
    transition: color 0.3s ease, text-decoration 0.3s ease;
    font-weight: 501;
  }

}

@media (max-width: 348px) {
    .bottom-bar {
    font-size: 12px;
    padding: 0.4rem auto;
    flex-direction: row;
    /* ✅ keep row layout */
    align-items: center;
  }

  .label-left {
    display: none;
    font-size: 15px;
    margin-left: 0.3rem !important;
    font-weight: 500;
  }

  .label-right {
    display: flex;
    align-items: left;
    text-align: left;
    gap: 1rem;
    /* tighter gap */
    font-size: 10px;
    margin-left: auto;
  }

  .menu-btn {
    padding: 4px auto;
    font-weight: 900;
    margin-right: auto;
    margin-left: 0 !important;
  }

  .menu-btn span {
    font-size: 13px !important;
    font-weight: 500;
  }

  .hamburger-icon {
    width: 24px;
    height: 24px;
  }


}



/* Mobile short (max-width: 480px) */
@media (max-width: 400px) {
  /* Nav items */
  .nav-item {
    position: relative;
    padding: 10px 10px;
    cursor: pointer;
    font-size: 10px;
    font-weight: 300;
    flex: 0 0 auto;
    white-space: nowrap;
  }

  .nav-item:not(:last-child) {
    margin-right: 10px;
  }

  /* Dropdown styles */

/* 📂 Dropdown Menu */
.dropdown-menu.custom-dropdown {
  /* display: grid; */
  position: absolute;
  top: 100%;
  left: -70px;
  background-color: #1A1A1A;
  border: 1px solid rgba(255, 215, 0, 0.25);
  border-radius: 10px;
  padding: 20px 6px;
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.8);
  min-width: auto; /* wide enough for two columns */
  z-index: 1000;
  font-family: 'Inter', sans-serif;

   display: none;              /* 🔑 grid for layout */
  grid-template-columns: repeat(2, 1fr);
  gap: 0px 10px !important;                    /* row gap + column gap */
}

/* ✅ Show on hover */
.dropdown:hover .custom-dropdown {
  display: grid;
}

/* 🔹 Section wrapper */
.dropdown-section {
  margin-bottom: 5px; /* grid handles spacing */
  margin-top: 0px;
}

/* ✨ Section Heading */
.dropdown-heading {
  font-size: 12px;
  font-weight: 700;
  color: #FFD700;
  margin-bottom: 4px;
  border-left: 3px solid #FFD700;
  padding-left: 8px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
}

/* 🔗 Links container (auto-flow inside columns) */
.link-row,
.link-grid {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

/* 🔗 Links */
.link-row a,
.link-grid a {
  color: #ffffff;
  text-decoration: none;
  font-size: 11px;
  font-weight: 500;
  padding: 6px 10px;
  border-radius: 6px;
  transition: all 0.25s ease;
  display: block;
}

.link-row a:hover,
.link-grid a:hover {
  background-color: rgba(255, 215, 0, 0.08);
  color: #FFD700;
  box-shadow: 0px 0px 6px rgba(255, 215, 0, 0.25);
}

/* Dropdown container */
.nav-item.dropdown {
  position: relative;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
}

/* Dropdown menu hidden by default */
.dropdown-menu.follow-dropdown {
  display: none;
  position: absolute;
  top: 100%; /* directly below "Follow Us" */
  left: 50%; /* start at center */
  transform: translateX(-50%); /* perfectly centered */
  background-color: #1a1e27;
  padding: 10px 0px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.4);
  z-index: 999;
  white-space: nowrap;
}

.follow-dropdown .icon {
  width: 20px;
  height: 20px;
  filter: brightness(0) invert(1); /* makes black icons white */
  transition: transform 0.25s ease, filter 0.25s ease;
}

  .hide-on-mobile {
    display: none !important;
  }

  .tab-container {
    display: flex;
    justify-content: center;
    gap: 3%;

    padding: 12px 0;
    border-radius: 16px;

    margin-bottom: 0.5rem;
    flex-wrap: wrap;
    margin-top: 4%;
    margin: 30;
  }


  .tab {
    padding: 8px 10px !important;
    cursor: pointer;
    font-size: 11px;
    font-weight: 500;


    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
    border-radius: 8px;
  }

  .container {
    height: 159px;
    padding: 0% 0rem !important;
    max-width: 100%;
    padding: 0 0rem !important;
    margin: 36px auto 0 auto;
    border-top: white;
  }

/* Tab buttons */
.tab-btn {
  padding: 5px 7px;
  cursor: pointer;
  font-size: 11px;
  font-weight: 500;
  color: #FFFFFF; /* default text */
  background-color: #1A1A1A; /* dark theme tab background */
  border: 2px solid transparent;
  border-radius: 10px;
  transition: all 0.3s ease;
  position: relative;

  /* subtle inner shadow for depth */
}

  .box {
    padding: 0 5px;
  }

  .box1 img:first-child {
    right: 10%;
    width: 102%;
    height: 102%;
  }

  .box2 img:first-child {
    right: -8%;
    font-family: 'Overpass', sans-serif;
    width: 100%;
    height: 100%;
  }

  .box3 img:first-child {
    right: 32%;
    width: 100%;
    height: 100%;
  }

  /* .img1 {
    right: -2%;
    width: 140% !important;
  } */
  .img1 {
    left: -109%;
    width: 124% !important;
  }

  .img2 {
    left: -119%;
    width: 124% !important;
  }

  .img3 {
    left: -17%;
    width: 110% !important;
  }

  /* ---------------------Table------------------------------------ */


  /* Custom scrollbar styling */


  /* Container */
.table-container {
  max-width: 1000px;
  min-width: auto;
  margin: 0 auto;
  padding: 20px 10px;
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 30px;
  margin-top: 30px;
}

/* Table Title */
.stat-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #FFD700;
  text-align: center;
  margin-bottom: 0px;
}

/* Table */
.Stats-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  background-color: #1A1A1A;
  color: #FFFFFF;
  border-radius: 6px;
   line-height: 0px;
   margin-top: 20px;
   margin: 20px auto;
}

/* Table Header */
.Stats-table thead {
  display: table;
  width: 100%;
  table-layout: fixed; /* important for alignment with tbody */
}

.Stats-table thead th {
  padding: 10px 15px;
  border-bottom: 2px solid #FFD700;
  font-weight: bold;
  background-color: #1A1A1A; /* keep header dark */
  position: sticky;
  top: 0; /* stick to top */
  z-index: 10;
  font-size: 14px;
}

/* Table Body */
.Stats-table tbody {
  display: block;
  max-height: 400px;      /* change as needed */
  overflow-y: scroll;      /* always show vertical scrollbar */
  width: 100%;
}

.Stats-table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed; /* ensures td width matches th */
}

.Stats-table tbody tr:nth-child(even) {
  background-color: #2A2A2A;
}

.Stats-table tbody tr:nth-child(odd) {
  background-color: #1A1A1A;
}

/* Cells */
.Stats-table th,
.Stats-table td {
  padding: 10px 15px;
  border: none;
    line-height: 25px; /* only for main value */
}

.Stats-table .stat-name {
  font-size: 0.6em;
  color: #555;
  display: block;
  margin-top: 4px;
  line-height: 1em; /* tighter, so it doesn’t inherit 25px */
  white-space: normal; /* allow wrapping but no extra spacing */
}

.stat-text{
  font-size: 1rem;
  font-weight: 500;
}

/* Table Body with always-visible scrollbar */
.Stats-table tbody {
  display: block;
  max-height: 250px;      /* change as needed */
  overflow-y: scroll !;      /* always show vertical scrollbar */
  width: 100%;
}


.Stats-table tbody::-webkit-scrollbar-track {
  background: #1A1A1A;     /* track background */
}

.Stats-table tbody::-webkit-scrollbar-thumb {
  background-color: #887400b5; /* gold scrollbar */
}

.Stats-table tbody::-webkit-scrollbar-thumb:hover {
  background-color: #887400b5; /* slightly brighter on hover */
}

/* Firefox scrollbar */
.Stats-table tbody {
  scrollbar-color: #887400b5 #1A1A1A; /* thumb color | track color */
}

/* Scroll Down Arrow Indicator */
.scroll-down-indicator {
  position: absolute;
  bottom: 8px; /* a little above the bottom of the table container */
  left: 50%;   /* center horizontally */
  transform: translateX(-50%);
  font-size: 18px;
  color: #FFD700; /* gold */
  animation: bounce 1s infinite;
  pointer-events: none; /* so it doesn’t block table clicks */
}

/* Bounce animation */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(-50%) translateY(0);
  }
  40% {
    transform: translateX(-50%) translateY(4px);
  }
  60% {
    transform: translateX(-50%) translateY(2px);
  }
}


  .Dt-btnu {
    display: block;
    margin: 20px auto 0;
    /* centered below table */
    padding: 3px 8px;
    /* smaller size */
    background: #e6c200;
    /* gold accent */
    color: #000000;
    /* dark text */
    font-size: 12px;
    /* smaller text */
    font-weight: 600;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .Dt-btnu:hover {
    background: #1A1A1A;
    /* slightly darker gold */
  }

  .Dt-btnu .dynamic-link {
    color: inherit;
    text-decoration: none;
    display: block;
  }


  .stat-titleabove {
    font-size: 20px;
    font-weight: 800;
  }

  .stat-title2 {
  font-family: 'Lato', sans-serif;
  /* Clean, modern font */
  text-align: center;
  /* Centers the title */
  color: #7c7c7c;
  /* Bright yellow — great contrast */
  font-size: clamp(0.6rem, 2vw, 0.9rem);
  /* Noticeable title size */
  margin-bottom: 1rem;
  /* Tight space above subtitle */
  font-weight: 200;
  /* Bold and strong */
  margin-top: 0;
  
  }

  .looking-box {
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 0px 10px; /* Equal left and right space */
  text-align: center;
  border-radius: 16px;
}

  .lookingbox-title {
    font-size: 14px;
    /* slightly smaller title */
    margin-bottom: 20px;
    margin-top: 13px;
  }

  .text-group {
    grid-template-columns: repeat(3, 1fr);
    /* 1 item per row */
    gap: 10px 0;
    margin-top: -8px;
  }

  .text-item a {
    font-size: 9px;
    /* smaller font for mobile */
    padding: 6px 0;
  }


  .bottom-bar {
    font-size: 13px;
    padding: 0.4rem 0rem;
    flex-direction: row;
    /* ✅ keep row layout */
    align-items: center;
  }

  .label-left {
    font-size: 15px;
    margin-left: 10px;
    font-weight: 500;
  }

  .label-right {
    display: flex;
    align-items: center;
    gap: 1rem;
    /* tighter gap */
    font-size: 10px;
  
  }

  .menu-btn {
    padding: 4px 10px;
    font-weight: 900;
    margin-right: 5px;
  }

  .menu-btn span {
    font-size: 15px !important;
    font-weight: 500;
  }

  .hamburger-icon {
    width: 26px;
    height: 26px;
  }


  .dropup-menu {
    min-width: 180px;
    bottom: 35px;
    right: 0;
    width: 290px;
    margin-right: 0px;
    margin-bottom: 18px;
    height: auto;
    top: -540px;
  }

  .dropup-menu a {
    padding: 8px;
    font-size: 13px;
    font-weight: 500;
    padding-left: 20px;
    padding-top: 10px;

  }

  .submenu {
    left: 100%;
    top: 0;
    min-width: 150px;

  }

  .submenu a {
    padding: 8px;
    font-size: 13px;
    padding-left: 24px;
    /* 👈 Adds space to make it feel like a sub-item */
    position: relative;
    font-weight: 400 !important;
  }

  .submenu a::before {
    content: "•";
    position: absolute;
    left: 12px;
    font-size: 16px;
  }


  .social-icons a {
    font-size: 18px;
  }

  .footer3-card {

    border-radius: 15px;
    padding: 15px 25px;
    margin: 2px auto 10px auto;
    max-width: 21rem;
  }

  .footer3-card span {
    font-size: 13px;
    font-weight: 600;
  }


  .footer-top {
    grid-template-columns: 1fr;
    text-align: left;
  }

  .footer-about h2 {
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .footer-about p {
    max-width: 400px;
    margin: 0 auto;
    font-size: 12px;
  }

  .footer-links h3,
  .footer-contact h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .footer-links a {
    font-size: 13px;
  }

  .footer-links li {
    margin-bottom: 3px;
  }

  .footer-contact p {
    margin: 8px 0;
    font-size: 12px;
  }

  .footer-bottom p {
    font-size: 11px;
    margin-top: -10px !important;
  }

  /* Text paragraphs */
  .fbv-text,
  .mvhv-text {
    font-size: 0.9rem;
    line-height: 1.8;
  }

  .mvhv-title {
    font-size: 2rem;
    margin-top: -2.5rem;
  }

  .mvhv-subtitle {
    font-size: 1.1rem;
    padding-left: 8px;
  }

  .fbv-button {
    padding: 5px 10px;
    font-weight: bold;
    font-size: 0.8rem;
    margin-top: 5px;
  }

  .fbv-modal-content {
    background-color: #1A1A1A;
    padding: 28px 20px;
  }

.legal-header-title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.legal-heading-main {
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 12px;
  border-left: 3px solid #FFD700;
  padding-left: 10px;
}

.legal-heading {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 8px;
}

.legal-text {
  margin-bottom: 18px;
  font-size: 0.8rem;
}

 .mvhv-error-box {
    padding: 20px;
    max-width: 100%;
  }

  .mvhv-error-title {
    font-size: 1.3rem;
    margin-bottom: 10px;
  }

  .mvhv-error-status {
    font-size: 1rem;
    margin-bottom: 18px;
  }

  .mvhv-error-stack {
    font-size: 0.8rem;
    padding: 10px;
    line-height: 1.4;
    max-height: 200px; /* prevents overflow on small screens */
    overflow-y: auto;
  }

  .mvhv-error-btn {
    padding: 10px 20px;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
  }

  /* admin */

  .modal-content {
    padding: 15px 20px;
  }

  .form-group label {
    font-size: 16px;
  }

  .form-group input {
    font-size: 14px;
  }

  .submit-btn {
    font-size: 14px;
    padding: 8px 0;
  }

  .close-btn {
    font-size: 20px;
    padding: 8px 14px;
  }

  .donation-container {
    margin: 5px;
    padding: 30px;
  }

  .footer2-card {
    padding: 15px 20px;
    margin: 10px auto;
    max-width: 280px;
  }

  .donation-container {
    padding: 20px;
    max-width: 300px;
    max-height: 400px;
    margin-bottom: 2px;
    /* Reduce space below donation box */
  }

  .donation-container h1 {
    margin-bottom: 15px;
  }

  .donation-container p {
    line-height: 1.5;
    font-size: 14px;
  }

  .donate-button {
    padding: 15px 30px;
    font-size: 16px;
    margin-top: 5px;

  }
}

@media (min-width: 401px) and (max-width: 500px) {


  .custom-navbar {
    padding: 3 10px;
    font-family: sans-serif;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    white-space: nowrap;
    overflow: visible;
  }

  .custom-navbar::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.03);
    /* ✅ Very faint white line */
    pointer-events: none;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: -40%;
    padding: 10px;
    z-index: 1000;
    min-width: 20px;
    max-width: auto;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }

  /* Optional for dropdown content */
  .dropdown-section {
    margin-bottom: 10px;
  }

  .dropdown-heading {
    margin: 0 0 5px 0;
    font-size: 12px;
  }

  /* Nav items */
  .nav-item {

    padding: 10px 10px;

    font-size: 13px;
    font-weight: 200;

    white-space: nowrap;
  }

  .nav-item:not(:last-child) {
    margin-right: 10px;
  }

  .link-row a,
  .link-grid a {
    padding: 4px 6px;
    font-size: 11px;
    text-decoration: none;
  }

  .link-grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 4px;
  }

  .hide-on-mobile {
    display: none !important;
  }



  .container {
    height: 165px;
    padding: 0% 1rem !important;
    max-width: 90%;
    padding: 0 1rem !important;
    margin: 47px auto 0 auto;

  }

  .box {
    padding: 0 5px;
  }

  .box1 img:first-child {
    right: 10%;
    width: 102%;
    height: 102%;
  }

  .box2 img:first-child {
    right: -8%;
    width: 100%;
    height: 100%;
  }

  .box3 img:first-child {
    right: 32%;
    width: 99%;
    height: 100%;
  }

  .img1 {
    left: -100%;
    width: 110% !important;
  }

  .img2 {
    left: -113%;
    width: 114% !important;
  }

  .img3 {
    left: -5%;
    width: 100% !important;
  }

  

  .tab-container {
    display: flex;
    justify-content: center;
    gap: 6%;

    padding: 12px auto;
    border-radius: 16px;

    margin-bottom: 0.5rem;
    flex-wrap: wrap;
    margin-top: 4%;
    margin: 30;
  }

/* Tab buttons */
.tab-btn {
  padding: 5px 7px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  color: #FFFFFF; /* default text */
  background-color: #1A1A1A; /* dark theme tab background */
  border: 2px solid transparent;
  border-radius: 10px;
  transition: all 0.3s ease;
  position: relative;

  /* subtle inner shadow for depth */
}
  
  .stat-title {
    font-size: 17px;
    margin-bottom: 6px;
  }

  .stat-titleabove {
    font-size: 27px;
  }


  .looking-box {
    width: 90%;
    height: auto;
    margin: 40px auto;
    text-align: center;
    border-radius: 12px;
    padding-top: 15px;
  }

  .text-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
    margin-top: 10px;
    justify-items: center;
    margin: 10px -14px;
    
  }

  .lookingbox-title {
    font-size: 15px;
    height: auto;
    margin-top: 0px;
    font-family: 'Exo 2', sans-serif;
    margin-bottom: 0px;
  }

  .text-item {
    padding: 3px;
    cursor: pointer;
    transition: color 0.3s ease, text-decoration 0.3s ease;

  }

    .text-item a {
    font-size: 10px;
    /* smaller font for mobile */
    padding: 6px 0;
  }

  .text-item:hover {
    color: #007bff;
    text-decoration: blue;
  }


    /* Container */
.table-container {
  max-width: 1000px;
  min-width: auto;
  margin: 0 1px;
  padding: 20px auto;
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 30px;
  margin-top: 30px;
}

/* Table Title */
.stat-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #FFD700;
  text-align: center;
  margin-bottom: 0px;
}

/* Table */
.Stats-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  background-color: #1A1A1A;
  color: #FFFFFF;
  border-radius: 6px;
   line-height: 0px;
   margin-top: 20px;
   margin: 20px auto;
}

/* Table Header */
.Stats-table thead {
  display: table;
  width: 100%;
  table-layout: fixed; /* important for alignment with tbody */
}

.Stats-table thead th {
  padding: 10px 25px;
  border-bottom: 2px solid #FFD700;
  font-weight: bold;
  background-color: #1A1A1A; /* keep header dark */
  position: sticky;
  top: 0; /* stick to top */
  z-index: 10;
  font-size: 14px;
}

/* Table Body */
.Stats-table tbody {
  display: block;
  max-height: 400px;      /* change as needed */
  overflow-y: scroll;      /* always show vertical scrollbar */
  width: 100%;
}

.Stats-table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed; /* ensures td width matches th */
}

.Stats-table tbody tr:nth-child(even) {
  background-color: #2A2A2A;
}

.Stats-table tbody tr:nth-child(odd) {
  background-color: #1A1A1A;
}

/* Cells */
.Stats-table th,
.Stats-table td {
  padding: 10px 15px;
  border: none;
    line-height: 25px; /* only for main value */
}

.Stats-table .stat-name {
  font-size: 0.6em;
  color: #555;
  display: block;
  margin-top: 4px;
  line-height: 1em; /* tighter, so it doesn’t inherit 25px */
  white-space: normal; /* allow wrapping but no extra spacing */
}

.stat-text{
  font-size: 1rem;
  font-weight: 500;
}


  .dropup-menu {

    width: 270px;

  }

  .footer-top {
    grid-template-columns: 1fr;
    text-align: left;
  }

  .footer-about h2 {
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 10px;
  }

.footer-about p {
  max-width: 400px;
  margin: 0; /* remove auto centering */
  font-size: 12px;
  text-align: left; /* align text left */
}


  .footer-links h3,
  .footer-contact h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .footer-links a {
    font-size: 13px;
  }

  .footer-links li {
    margin-bottom: 3px;
  }

  .footer-contact p {
    margin: 8px 0;
    font-size: 12px;
  }

  .footer-bottom p {
    font-size: 11px;
    margin-top: -10px !important;
  }


  .donation-container {
    margin: 5px;
    padding: 30px;
  }

  .donation-container {
    margin: 5px;
    padding: 30px;
  }

  .footer2-card {
    padding: 15px 20px;
    margin: 10px auto;
    max-width: 280px;
  }

  .donation-container {
    padding: 20px;
    max-width: 300px;
    max-height: 400px;
    margin-bottom: 2px;
    /* Reduce space below donation box */
  }

  .donation-container h1 {
    margin-bottom: 15px;
  }

  .donation-container p {
    line-height: 1.5;
    font-size: 14px;
  }

  .donate-button {
    padding: 15px 30px;
    font-size: 16px;
    margin-top: 5px;

  }

  .footer3-card {
    margin: 10px 1rem;
    
  }

  .footer3-card span {
    font-size: 13px;
    font-weight: 600;
  }

  .table-container-st {
    margin-bottom: 0.5rem;
  }

  .mvhv-title {
    font-size: 0.5rem;
  }

  .mvhv-subtitle {
    font-size: 1.3rem;
    padding-left: 8px;
  }

  .mvhv-text {
    font-size: 0.95rem;
    line-height: 1.6;
  }

  .mvhv-highlight {
    font-size: 1rem;
  }

  .mvhv-donate-button {
    font-size: 0.9rem;
    padding: 10px 20px;
  }

  .mvhv-modal-content {
    padding: 20px;
  }

  .mvhv-popup-success {
    font-size: 0.9rem;
    padding: 15px 20px;
  }

  .mvhv-social-icons a {
    font-size: 26px;
  }

  /* admin */

  .modal-content {
    width: 95%;
    padding: 10px;
  }

  .submit-btn {
    font-size: 14px;
    padding: 8px 0;
  }

  .form-group input {
    padding: 6px;
  }

}

/* tab-phone (600px to 768px) */
@media (min-width: 501px) and (max-width: 768px) {


  .dropdown-menu {
    top: 100%;
    left: -60%;
    padding: 10px;
    z-index: 1000;
    min-width: 20px;
    max-width: auto;
  }

  .link-row a,
  .link-grid a {
    padding: 4px 6px;
    font-size: 13px;
    text-decoration: none;
  }

  .link-grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 4px;
  }

  .hide-on-mobile2 {
    display: none !important;
  }

  .custom-navbar {

    padding: 0 10px;
    font-family: sans-serif;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    white-space: nowrap;
    overflow: visible;
  }


  /* Nav items */
  .nav-item {
    position: relative;
    padding: 7px 10px;
    cursor: pointer;
    font-size: 14px;
    flex: 0 0 auto;
    white-space: nowrap;
  }

  .container {
    height: 255px;
    padding: 0% 4rem !important;
    max-width: 95%;
    margin: 34px auto;
  }

  .box {
    padding: 0 7px;
  }

  .box1 img:first-child {
    right: 12%;
    width: 102%;
    height: 102%;
  }

  .box2 img:first-child {
    right: -6%;
    width: 101%;
    height: 101%;
  }

  .box3 img:first-child {
    right: 28%;
    width: 101%;
    height: 101%;
  }

  .img1 {
    right: -130% !important;
    width: 130% !important;
  }

  .img2 {
    left: -130%;
    width: 135% !important;
  }

  .img3 {
    left: -4%;
    width: 115% !important;
  }

  .scroll-label {
  width: 100%;
  max-width: 70%;
  margin: 0 auto;
  padding: 0.8rem 7rem;
  box-sizing: border-box;
  overflow: hidden;
  background: transparent; /* fully transparent */
  cursor: pointer;
  user-select: none;
  perspective: 800px;
  text-align: center;
  margin-top: -2.5rem !important;
  margin-bottom: -1rem !important;
}


  .tab-container {
    display: flex;
    justify-content: center;
    gap: 4%;

    padding: 12px auto;
    border-radius: 16px;

    margin-bottom: 0.5rem;
    flex-wrap: wrap;
    margin-top: 4%;
    margin: 30;
  }

/* Tab buttons */
.tab-btn {
  padding: 5px 7px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  color: #FFFFFF; /* default text */
  background-color: #1A1A1A; /* dark theme tab background */
  border: 2px solid transparent;
  border-radius: 10px;
  transition: all 0.3s ease;
  position: relative;

  /* subtle inner shadow for depth */
}

  .looking-box {
    width: 90%;
    height: auto;
    margin: 20px auto;
    text-align: center;
    border-radius: 12px;
    padding: 10px 15px;
  }

  .text-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
    margin-top: 10px;
    justify-items: center;

  }

  .lookingbox-title {
    font-size: 17px;
    margin-top: 10px;
    font-family: 'Exo 2', sans-serif;
    margin-bottom: 0px;
  }

  .text-item {
    padding: 3px;
    cursor: pointer;
    transition: color 0.3s ease, text-decoration 0.3s ease;

  }

  .text-item a {
    font-size: 13px;
    /* smaller font for mobile */
    padding: 6px 0;
  }

    /* Container */
.table-container {
  max-width: 1000px;
  min-width: auto;
  margin: 0 auto;
  padding: 20px auto;
  width: 80%;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 30px;
  margin-top: 30px;
}

/* Table Title */
.stat-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #FFD700;
  text-align: center;
  margin-bottom: 0px;
}

/* Table */
.Stats-table {
  width: 80%;
  border-collapse: collapse;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  background-color: #1A1A1A;
  color: #FFFFFF;
  border-radius: 6px;
   line-height: 0px;
   margin-top: 20px;
   margin: 20px auto;
}

/* Table Header */
.Stats-table thead {
  display: table;
  width: 100%;
  table-layout: fixed; /* important for alignment with tbody */
}

.Stats-table thead th {
  padding: 10px 15px;
  border-bottom: 2px solid #FFD700;
  font-weight: bold;
  background-color: #1A1A1A; /* keep header dark */
  position: sticky;
  top: 0; /* stick to top */
  z-index: 10;
  font-size: 14px;
}

/* Table Body */
.Stats-table tbody {
  display: block;
  max-height: 400px;      /* change as needed */
  overflow-y: scroll;      /* always show vertical scrollbar */
  width: 100%;
}

.Stats-table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed; /* ensures td width matches th */
}

.Stats-table tbody tr:nth-child(even) {
  background-color: #2A2A2A;
}

.Stats-table tbody tr:nth-child(odd) {
  background-color: #1A1A1A;
}

/* Cells */
.Stats-table th,
.Stats-table td {
  padding: 10px 15px;
  border: none;
    line-height: 25px; /* only for main value */
}

.Stats-table .stat-name {
  font-size: 0.6em;
  color: #555;
  display: block;
  margin-top: 4px;
  line-height: 1em; /* tighter, so it doesn’t inherit 25px */
  white-space: normal; /* allow wrapping but no extra spacing */
}

.stat-text{
  font-size: 1.1rem;
  font-weight: 500;
}


  
  .modal-content {
    width: 90%;
  }

  .footer3-card {
   
    margin: 10px 1rem;

  }

  .table-container-st {
    margin-bottom: 0.5rem;
  }

  .stat-titleabove {
    font-size: 35px;
  }

  .stat-title {
    font-size: 23px;
    margin-bottom: 6px;
  }

}

/* Tablet-lap (768px to 1000px) */
@media (min-width: 768px) and (max-width: 1000px) {
  .dropdown-menu {

    left: -70%;
  }

  .container {
    height: 250px;
    max-width: 95%;
  }

  .box {
    padding: 0 10px;
  }

  .box1 img:first-child {
    right: 12%;
    width: 102%;
    height: 102%;
  }

  .box2 img:first-child {
    right: -6%;
    width: 101%;
    height: 101%;
  }

  .box3 img:first-child {
    right: 28%;
    width: 101%;
    height: 101%;
  }

  .img1 {
    right: -100%;
    width: 110% !important;
  }

  .img2 {
    left: -106%;
    width: 110% !important;
  }

  .img3 {
    left: -4%;
    width: 105% !important;
  }

  .modal-content {
    width: 80%;
  }

  .looking-box {

    height: auto;

  }

/* Container */
.table-container{
  border: 1px solid #fbfbfb24;
  max-width: 1000px;
  min-width: auto;
  padding-left: auto;
 padding-right: auto;
  margin: 3rem 30px;
  padding-bottom: 20px;
  padding-top: 30px;
  
}

/* Title */
.stat-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #FFD700;
  text-align: center;
  margin-bottom: 0px;
}


/* Table */

.Stats-table {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500; /* regular for body text */
  width: auto;   /* shrink to content */
 
  border-collapse: collapse;
  /* remove gaps between cells */
  text-align: center;
  /* margin-bottom: 20px; */
  background-color: #1A1A1A;
  color: #FFFFFF;
  border-radius: 6px;
  overflow: hidden;
  line-height: 25px;
  /* margin-top: 30px; */
  margin: 30px auto;
}


}


@media screen and (max-width: 768px) {
  .vote-heading {
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
  }

  .vote-cards {
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 1rem;
    justify-content: flex-start;
    padding: 0 1rem;
  }

  .vote-card {
    flex: 0 0 auto;
    width: 180px;
    padding: 1rem;
    border-radius: 1rem;
  }

  .player-name {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    padding: 0.3rem;
  }

  .vote-btn {
    font-size: 0.85rem;
    padding: 0.5rem 0.8rem;
  }

  .vote-card p {
    font-size: 0.85rem;
  }

  .total-votes {
    font-size: 0.9rem;
    margin-top: 1.5rem;
  }

  .vote-cards::-webkit-scrollbar {
    display: none;
  }

  .vote-cards {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

}