      <div class="dropdown-menu custom-dropdown">
        <div class="dropdown-section">
          <h4 class="dropdown-heading">Stats</h4>
          <div class="link-row">
            <a href="/club-stats#clubComp">By Club Competition</a>
            <a href="/int-stats#int-comp">By Int Competition</a>
            <a href="/season">By Season</a>
            <a href="/year">By Calender Year</a>
            <a href="/alltime#goal">Goal Scoring Stats</a>
            <a href="/alltime#final">In Finals</a>
          </div>
        </div>
        <div class="dropdown-section">
          <h4 class="dropdown-heading">Some Competitions</h4>
          <div class="link-grid">
            <a href="/club-stats/ucl">UCL</a>
            <a href="/int-stats/wc">World Cup</a>
            <a href="/club-stats#tfl">Top 5 Leagues</a>
            <a href="/int-stats/copa-euro">Copa/Euro</a>
            <a href="/club-stats#superCup">UEFA Super Cup</a>
            <a href="/club-stats#clubWc">Club World Cup</a>
          </div>
        </div>
        <div class="dropdown-section">
          <h4 class="dropdown-heading">Match History</h4>
          <div class="link-grid">
            <a href="/Match-History/haaland#match-history">Haaland-All Matches</a>
            <a href="/Match-History/mbappe#match-history">Mbappe-All Matches</a>
            <a href="/Match-History/vinicius#match-history">Vinicius-All Matches</a>
          </div>
        </div>

        <div class="dropdown-section desktop-only .mobile-only">
          <h4 class="dropdown-heading">Other</h4>
          <div class="link-grid">
            <a href="">Favorite Opponents</a>
            <a href="">Most Assists Received From</a>
            <a href="">Most Assists Given To</a>
            <a href="">Knockout Stats</a>
          </div>
        </div>

      </div>
    </div>