<div id="lastFive">

  <!-- Mbappé Section -->
  <section class="match-history-container" style="background-color: rgba(0,0,0,0) !important;">
    <h1 class="stat-title">Last 5 Matches - Mbappé</h1><br>
    <div class="scroll-container">
      <div id="mbappe-matches-container" class="matches-section">
        {{#each mbappeMatches}}
        {{> match-card this}}
        {{/each}}
      </div>
    </div>
    <button class="Dt-btnu" style="margin-top: -1.5rem !important;">
      <a class="dynamic-link" href="/Match-History/mbappe#match-history">Mbappé All Games</a>
    </button>
  </section>

  <!-- Haaland Section -->
  <section class="match-history-container" style="background-color: rgba(0,0,0,0) !important;">
    <h1 class="stat-title">Last 5 Matches - Haaland</h1><br>
    <div class="scroll-container">
      <div id="haaland-matches-container" class="matches-section">
        {{#each haalandMatches}}
        {{> match-card this}}
        {{/each}}
      </div>
    </div>
    <button class="Dt-btnu" style="margin-top: -1.5rem !important;">
      <a class="dynamic-link" href="/Match-History/haaland#match-history">Haaland All Games</a>
    </button>
  </section>

  <!-- Vinícius Section -->
  <section class="match-history-container" style="background-color: rgba(0,0,0,0) !important;">
    <h1 class="stat-title">Last 5 Matches - Vinícius</h1><br>
    <div class="scroll-container">
      <div id="vinicius-matches-container" class="matches-section">
        {{#each viniciusMatches}}
        {{> match-card this}}
        {{/each}}
      </div>
    </div>
    <button class="Dt-btnu" style="margin-top: -1.5rem !important;">
      <a class="dynamic-link" href="/Match-History/vinicius#match-history">Vinícius Jr All Games</a>
    </button>
  </section>

</div>

<script>
  function toggleCardDetails(button) {
    const card = button.closest('.match-card');
    card.classList.toggle('expanded');
  }
</script>
