<div class="footer3-card" onclick="location.href='/int-stats/wc'">
    <span>Detailed World Cup Stats</span>
    <span class="footer2-arrow">&#8594;</span>
  </div>
  <div class="footer3-card" onclick="location.href='/club-stats/ucl'">
    <span>More Detailed UEFA Champions League</span>
    <span class="footer2-arrow">&#8594;</span>
  </div>
  <div class="footer3-card" onclick="location.href='/alltime#goal'">
    <span>Hattricks,Free Kick Goals Etc</span>
    <span class="footer2-arrow">&#8594;</span>
  </div>
  <div class="footer3-card" onclick="location.href='/alltime#final'">
    <span>All Time Stats In Finals</span>
    <span class="footer2-arrow">&#8594;</span>
  </div>